.content{
  .main-content{
    .table{
      .competence{
        padding-right: 5px;
        border-right: 3px solid #428bca;
      }
    }
    .modal-header{
      font-size: 13px;
    }
    .modal-body{
      text-align: center;
      font-size: 15px;
      ul{
        list-style: none;
        li{
          float: left;
          margin: 20px;
        }
      }
    }
  }
}